
/*----------- css code starts here ----------*/
    

header {
    margin: 0 auto;
    width:100%;
    height: 200px;
    background-color: #333333;
    text-align: center;
}

.header_trim {
    top: 165px;
    width: 100%;
    height: 18px;
    Background-color: #1f1f1f;
}

nav ul a, 
.Lynxhub
{
    text-decoration-line: underline;
    text-decoration: none;
    color: white;
    transition: 0.4s ease;
}

nav {
    margin: 0 auto;
    width: 664px;
    font-family: Raider Crusader;
    text-align: center;
}

h1 {
    margin: 0 auto;
    font-family: Raider Crusader;
    font-size: 120px;
    
}

.col{
    font-family: Raider Crusader;
    color: #E6E6E6;
}

.about,
.videos,
.contact {
    margin: 0 auto;
    display: inline-block;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.body {
    background-color: black;
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
    .Lynxhub {
        font-size: 75px;
    }
}